*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    height: 100vh;
}

#app_body{
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #ddd;
    width: 80%;
    position: relative;
}

#app_body header{
    position: absolute;
    top: -33px;
    left: 21px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

#app_body header h2,p{
    display: inline-block;
}

#app_body header h2 > sup{
    font-size: 13px;
    background-color: yellow;
    border-radius: 8px;
    padding: 5px;
}

#app_body header p{
    margin-left: 2rem;
    font-style: italic;
}

#app_body .menu{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2rem;
}

#app_body .menu select{
    width: 150px;
    height: 35px;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
    margin-right: 2rem;
}

#app_body .menu select:focus{
    border: 2px solid blueviolet;
}


#app_body .menu .formate, #app_body .menu .align{
    margin-right: 2rem;
}

#app_body .menu .formate button, #app_body .menu .align button{
    width: 50px;
    height: 35px;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    transition: 0.5s linear;
    cursor: pointer;
}

button:hover{
    background-color: blueviolet;
    color: white;
}


#app_body .frame{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 2rem;
    padding: 8px;
    border-radius: 8px;
}